*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(back2.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 400px;
    height: 595px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
}
.button-box{
    top: 30px;
    position: absolute;
    width: 400px;
    transition: .5s;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
.title{
    width: 110px;
    padding: 10px 30px;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #e61b63, #9c1032);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.input-group{
    top: 100px;
    right: 70px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.chech-box{
    margin: 0.05px 10px 30px 0;
}
.chech-box2{
    margin: 20px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-left: 25px;
    background: linear-gradient(to right, #e61b63, #9c1032);
    border: 0;
    outline: none;
    border-radius: 30px;
}
/* souvenir */
.select{
    text-align: left;
    color: black;
    font-size: 1vw;
    margin-top: 30px;
    margin-bottom: 10px;
}
.souvenir{
    text-align: center;
    margin-left: 310px;
    width: 50%;
    color: black;
    font-size: 2vw;
    margin-bottom: 50px;
    border-radius: 3px;
    transition: 300ms;
    background: linear-gradient(to right, #e61b63, #9c1032);
}